.features {
  background-color: var(--primery-background-color);
  display: flex;
  padding-bottom: 92px;

&__container {
   display: flex;
}
&__list  {
  display: flex;

}
&__title {
  @include font (14px, 1.14, 400, 0.03em );
  font-weight: bold;
  text-transform: uppercase;

  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
&__items {
  width: 270px;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
&__icons {
  display: flex;
  width: 100%;
  background-color: #F5F4FA; 
  margin-bottom: 30px;
  }
&__icon {
  display: flex;
  margin: 25px auto;
}
&__text {
  @include font (14px, 1.71, 400, 0.03em );

  color: var(--main-text-color);
}
}